

      <br>
      <p-table [value]=" Ordre"
               dataKey="id"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Action</th>
            <th>Date</th>
            <th>Etat</th>
            <th>Prix</th>
            <th>Quantite</th>
            <th>Num Portfeuille</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-clt>
          <tr  [pSelectableRow]="clt"  >
            <td>{{clt.portefeuillAction.action.nom}}</td>
            <td>{{clt.dateCreation}}</td>
            <td>{{clt.etat}}</td>
            <td>{{clt.quantite}}</td>
            <td>{{clt.prix}}</td>
<td> {{clt.portefeuillAction.portefeuille.numPortefeuille}}

            </td>
            <td> <button >  Affecter l'operation</button> </td>
          </tr>
        </ng-template>
      </p-table>
